# Data Science Tools and Ecosystem

## Author

SÃ©anan Prendergast

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

* List popular languages for Data Science
* List popular libraries for Data Science
* Intorduce arithmetic expressions
* Evaluate arithmetic expressions in Jupyter notebook

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:

1. Numpy
2. Pandas
3. Scikit-Learn
4. Matplotlib

| Data Science Tools |
| -------------|
| Python |
| R |
| Apache Spark |

### Below are a few examples of evaluating arithmetic expressions in Python

Addition: 3 + 2

Subtraction: 4 - 1

Multiplication: 3.4 * 4.1

Division: 13/4

In [3]:
#This is a simple arithmetic expression to mutiply then add integers .

print((3*4)+5)

17

In [4]:
# This will convert 200 minutes to hours by diving by 60 .

minutes = 200

hours = minutes/60

print(hours)

3.3333333333333335